<section class="hero-section position-relative">
  <div class="hero-content-wrapper">
    <div class="container">
      <div class="h-100 align-items-center w-100">
        <div class="w-100">
          <!-- Main Title -->
          <div class="text-center text-white">
            <h1 class="display-4 hero-title">Tot ce ai nevoie pentru calatorii intr-un singur loc - simplu, sigur si rapid</h1>
          </div>

          <!-- Search Interface -->
          <div class="row">
            <div class="col-lg-12">
              <div class="rounded-4 md:p-4 p-3 search-container">
                <!-- Search Tabs -->
                <app-search-tabs />

                <!-- Search Form -->
                <app-search-form />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="extra-bg"></div>
</section>
